<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Agro_Pro</title>
    <link rel="stylesheet" href="{{url_for('static',filename='style/myhome.css')}}">
  </head>

  
  <body>
    <header>
      <nav>
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Services</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <h1 style="color: rgb(36, 35, 36);">Agro_Pro</h1>
   <h3 style="color: rgba(36,152,162);">Welcome to Agro_Pro, your partner in agricultural success. <br>Our mission is to assist you in optimizing your crop cultivation for maximum yield and profitability. <br>We provide personalized recommendations based on comprehensive soil nutrient analysis. By leveraging our expertise, you can make informed decisions to enhance your farming operations.</h3>
      <br>
      <h3 style="color: black;">Embark on a Journey Towards Agricultural Excellence</h3>
      <br>
      <h2 style="color: rgb(36, 152, 162);">Click the button below for Personalized Crop Recommendations</h2>
    </main>

     <form action="/Predict">
      <input type="submit" id="Predict" name="Predict" action="/Predict" value="Predict">
     </form>
  </body>
</html>
